<h1>Administrate other users</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= user.email %>
      <%= link_to "Delete", user_path(user), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure to delete the user #{user.email}?"} %>
    </li>
  <% end %>
</ul>