@import "bootstrap-sprockets";
@import "bootstrap";

body{
	padding: 0px 30px 30px 30px;
}

ul{
	padding: 0px;
	li{
		padding-top: 5px;
		padding-bottom: 5px;
		list-style-type: none;
	}
}

br {
   display: block;
   margin: 10px 0;
   line-height: 20px;
   content: " ";
}

.attachinary-input{
	padding:10px;
}

.text-area{
	width:100%;
}

.big-text-area{
	height: 300px;
}